body {
    background-color: rgb(0, 94, 106);
    text-align:center;
    
}
h1 {
    color: rgb(255, 255, 255);
}
p {
    color: rgb(255, 255, 255);
}

.ImageBorder
{
    padding:1px;border:thin solid black;
}

hr.dashed {
    border-top: 3px dashed #bbb;
}

.centered-links a{
    text-align: center; /* Center the text */
    color:lightblue;
    margin-top: 10px; /* Optional: Add some space above the links */
}  

