.button{
    color: rgb(19, 18, 18);
}
.button1 {background-color: #aa0486;} /* Green */
/* FONTS */

@font-face {
    font-family: '2Credits';
    src: url(/fonts/2Credits.ttf)
}
@font-face {
    font-family: 'W95FA';
    src: url(/fonts/W95FA.otf);
}
@font-face {
    font-family: 'alarm clock';
    src: url(/fonts/alarm\ clock.ttf);
}
@font-face {
    font-family: 'Cotton Cloud';
    src: url(/fonts/CottonCloud.ttf);
}
@font-face {
    font-family: 'Organical';
    src: url(/fonts/ORGANICAL\ PERSONAL\ USE.ttf);
}
/* SITE */

html {
    image-rendering:pixelated;
    -webkit-font-smoothing: never;
}

body {
    cursor: url(https://cur.cursors-4u.net/cursors/cur-10/cur918.cur), default;
    background: url(/backgrounds/cloudswallpaper2.jpg);
    background-color: #b1f6ff;
    background-size: cover 150%;
    position: relative;
    font-family: "W95FA";
    letter-spacing: 2px;
    overflow-x: hidden;
}
div {
    display: block;
}

/* LINKS */

a {
    text-decoration: none;
}

/* SELECTION */

::selection {
    text-shadow: 1px 1px #faffb3;
    background: rgb(255, 109, 236);
}

hr {
    border-top: 3px double #3243db;
}


/* CURSORS */

a:hover {
    cursor: url('/cursor/cur902.gif'), pointer;
}

.footer a:hover {
    color: #faffb3;
    background-color: #f7adff;
}


.navigation a:hover {
    text-shadow: 2px 1px #f7adff;
    background-color: #91d6c4;
    color: #faffb3;
    font-weight: 900;
    font-style: italic;
    letter-spacing: 2px;
    padding: 2px;
}

.navigation a:active {
    background-color: #aafbb2;
    position: relative;
    top: 2px;
    
}

.music a:hover {
    color: #faffb3;
    text-decoration-color: #f7adff;
}

#right a:hover{
    mix-blend-mode:multiply;
    background-color: rgb(117, 136, 255, 0.4);
    box-shadow: 0px 2px 10px rgb(115, 134, 255, 0.4);
    border-radius: 50%;
}


p:hover {
    cursor: url('/cursor/cur905.gif'), text;
}

h1:hover {
    cursor: url('/cursor/cur905.gif'), text;
}

li:hover {
    cursor: url('/cursor/cur905.gif'), text;
}

button:hover {
    cursor: url('cursor/cur902.gif'), url(/cursor/02.cur), default;
}

input:hover {
    cursor: url('/cursor/cur902.gif'), url(/cursor/02.cur), default;
}

/* UL */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
  }

/* ELEMENTS BOX SIZING */

* {
    box-sizing: border-box;
}

/* ZOOM CLASS */

.zoom {
    transition: transform .2s; /* Animation */
  }
  
  .zoom:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

/* CONTAINER */

.container {
    width: 1000px;
    position: relative;
    margin: auto;
    z-index: 1;
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 16px;
}
::-webkit-scrollbar-button {
    background-color: #ab9889;
    background-size: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: #424141;
    border-top-color: #c0c0c0;
    border-left-color: #c0c0c0;
    box-shadow: inset 1px 1px #fff, inset -1px -1px #543223;
}
::-webkit-scrollbar-button:horizontal:increment {
    background-image: url(/scrollbar/POINTSRIGHT.png);
}
::-webkit-scrollbar-button:horizontal:decrement {
    background-image: url(/scrollbar/POINTSLEFT.png);
}
::-webkit-scrollbar-button:vertical:increment {
    background-image: url(/scrollbar/POINTSDOWN.png);
}
::-webkit-scrollbar-button:vertical:decrement {
    background-image: url(/scrollbar/POINTSUP.png);
}
::-webkit-scrollbar-corner {
    background: #c0c0c0;
    background-image: url(icons/flowergreen.gif);
}
::-webkit-scrollbar-thumb {
    background-color: #ab9889;
    border-width: 1px;
    border-style: solid;
    border-color: #404040;
    border-top-color: #c0c0c0;
    border-left-color: #c0c0c0;
    box-shadow: inset 1px 1px #fff, inset -1px -1px #764b39;
}
::-webkit-scrollbar-track {
    background-size: 2px 2px;
    background-image: url(/scrollbar/scrollbg.png);
    background-color: transparent;
}

/* HEADER */

.header {
    display: block;
    width: 600px;
    float: left;
    margin-top: 10px;
    margin-bottom: -50px;
    background-image: url(/backgrounds/sky2.gif);
    border-radius: 50%;
    border: 8px double #f7adff;
    box-shadow: 1px 5px 5px #7386FF;
    background-size: contain;  
}
.header #Banner{
    display: block;
    width: 110%;
    margin: none;
    margin-left: -30px;
    margin-top: 5px;
}

img#Banner:hover {
    scale: 105%;
}



img#bannerfairy {
    position: absolute;
    scale: 150%;
    margin-top: 135px;
    margin-left: 30px;
    z-index: 200;
}

img#bannerfairy:hover {
    scale: 170%;
    cursor: url(/cursor/02.cur), url(/cursor/cur902.gif), default;
}
img#moon {
    position: absolute;
    margin-left: -165px;
    display: none;
}

img#bannerfairy2 {
    position: absolute;
    scale: 150%;
    margin-left: 600px;
    margin-top: -140px;
}
img#bannerfairy2:hover {
    cursor: url(/cursor/02.cur), url(/cursor/cur902.gif), default;
    scale: 200%;
}
img#fairyquote {
    position: absolute;
    margin-left: 550px;
    margin-top: -180px;
    display: none;
}



status-banner {
    display: block;
    float: right;
    width: 400px;
    height: 150px;
    margin-top: 10px;
    margin-bottom: -10px;
}

#statuscafe {
    padding: .2em;
    background-color: #faffb3;
    border-top: 1px solid;
    border-left: 1px solid;
    border-bottom: 2px inset;
    border-right: 2px inset;
    border-color: #7386FF;
    box-shadow: 2px 2px #7386FF;
    font-size: 12px;
    letter-spacing: normal;
    margin-top: 10px;
}
#statuscafe-username {
    margin-bottom: .6em;
    font-weight: 900;
    color: #f16eff;
    background-color: #99fdff;
    padding-left: 5px;
    border-radius: 4px;
}
#statuscafe-content {
    margin: 0 1em 0.5em 1em;
}

img#statusguy {
    display: block;
    position: sticky;
    margin-left: 166px;
    margin-top: -12px;
    margin-bottom: -10px;

}

#ct7 {
    font-family: "2Credits";
    letter-spacing: 1px;
    font-weight: bold;
    font-style: italic;
    font-size: 12px;
    text-align: center;
    background-color: #a6b2ff;
    border-radius: 4px;
    color: #f8f8a9;
    text-shadow: 1px 1px 1px #f16eff;
    padding: 3px;
    border: 3px double #51ebbd;
    box-shadow: 2px 2px #7386FF;
    margin-left: 5px;
}

#feeling {
    font-size: 12px;
    letter-spacing: 2px;
    display: block;
    font-weight: 900;
    font-variant: small-caps;
    font-style: italic;
    float: left;
    margin-top: 6px;
    margin-left: 44%;
    margin-right: 8px;
    color: #f8f8a9;
    padding: 1px;
    padding-left: 4px;
    border-radius: 3px;
    text-shadow: 1px 1px #f16eff;
    box-shadow: 2px 2px #7386FF;
    background-color: #a6b2ff;
}

#mood {
    float: left;
    margin-top: 5px;
    border-radius: 3px;
    border: 1px solid #595fe3;
    box-shadow: 2px 2px #7386FF;
}

marquee#toto {
    margin-top: 5px;
    margin-left: -5px;
    margin-right: -5px;
}


console {
    display: block;
    float: right;
    width: 225px;
    padding: 5px;
    
    margin-top: 35px;
    height: 190px;
    overflow-y: scroll;
    box-shadow: inset -1px -1px #523cdf,
      inset 1px 1px #dfdfdf, inset -1px -1px #f16eff,
      inset 1px 1px #ffffff;
    background-image: url(/images/75673.png);
    border: 1px solid #7386FF;
    border-bottom-left-radius: 20px;
   
}

img#consolefairy {
    position: absolute;
    scale: 200%;
    margin-top: 105px;
    margin-left: 370px;

}

img#clock {
    scale: 130%;
    position: absolute;
    margin-left: 200px;
    margin-top: -20px;
    background-color: #f8f8a9;
    border: 4px solid #ff8edb;
    box-shadow: 1px 2px #7386FF;
    border-radius: 50%;
    padding: 3px;
}
chat {
    display: block;
    float: right;
    margin-top: 60px;
}

/* MAIN SITE AREA */

#area {
    width: 1010px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: auto;
    justify-content: center;
}

/* MARQUEE */

#marquee {
    width: 970px;
    height: 48px;
    padding: 5px;
    padding-left: 2px;
    padding-right: 2px;
    margin-top: 35px;
    margin-bottom: 1%;
    background-image: url(/backgrounds/98sky.gif);
    background-size: cover;
    background-position: -7000px -7000px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: inset -1px -1px #523cdf,
    inset 1px 1px #dfdfdf, inset -1px -1px #f16eff,
    inset 1px 1px #ffffff;
  border: 1px solid #7386FF;
  z-index: -1;
    
}


#marquee img#text {
    margin-top: 2px;
}

#marquee img#badgelink {
    display: inline-block;
    margin-bottom: 3px;
}

#marquee img#badges {
    display: inline-block;
    margin-bottom: 3px;
    border: 2px solid #f5c8fa;
    border-bottom: 2px solid #7386FF;
    border-top: 3px solid #f8f8a9;
}

#marquee img#badges:hover {
    zoom: 108%;
}

img#leftfairy {
    position: absolute;
    scale: 150%;
    margin-left: -150px;
    margin-top: -200px;
}
img#leftfairy:hover {
    scale: 200%;
    cursor: url(/cursor/02.cur), url(/cursor/cur902.gif), default;

}

img#leftcloud {
    position: absolute;
    scale: 200%;
    margin-left: -190px;
    display: none;
}



/* LEFT */

#left {
    margin-right: 0px;
    float: left;
}

/* NAVIGATION */

.navigation {
    width: 160px;
    height: 200px;
    overflow-y: scroll;
    box-shadow: inset -1px -1px #523cdf,
      inset 1px 1px #dfdfdf, inset -1px -1px #f16eff,
      inset 1px 1px #ffffff;
    border: 1px solid #7386FF;
    background-image: url(/backgrounds/mb.gif);
    text-align: right;
    margin-bottom: 10px;
    border-radius: 20px 0px 0px 20px;
    padding: 10px;
    
}

.navigation li {
    margin-bottom: 2px;
}

.navigation a{
    font-size: 13px;
    color: #2436ff;
    background-color: #dbd0ff;
    box-shadow: 3px 3px #7386FF;
    border-radius: 5px 5px 4px 0px;
    padding: 2px;
    display: block;
    float: right;
    width: 100px;
    margin-bottom: 6px;
    text-decoration: none;
    font-weight: 900;
    letter-spacing: normal;
}



img#kitty {
    position: absolute;
    margin-left: -120px;
    scale: 100%;
   
    padding: 3px;
    
}
img#kitty:hover {
    scale: 105%;
   
}
img#rainbow {
    position: absolute;
    width: 120px;
    margin-top: -20px;
    margin-left: 80px;
    z-index: -1;
    scale: 110%;
    
}

/* MUSIC AREA */

.adbox {
    display: block;
    width: 170px;
    height: 280px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 2px;
}

.adbox::-webkit-scrollbar {
    width: 8px;
}
.adbox::-webkit-scrollbar-thumb {
    background: rgb(254,182,226);
    background: linear-gradient(180deg, rgba(254,182,226,1) 12%, rgba(165,213,244,1) 36%, rgba(165,244,199,1) 64%, rgba(215,190,252,1) 87%);
        border-radius: 5px;
        border: 1px dotted #f7adff;
        box-shadow: none;
        max-height: 20px;
}
.adbox::-webkit-scrollbar-button {
    display: none;
}

.adbox::-webkit-scrollbar-track {
    display: none;
}

img#adboxfairy {
    position: absolute;
    margin-top: -280px;
    margin-left: 160px;
    scale: 150%;
}

img#adboxfairy:hover {
    scale: 200%;
    cursor: url(/cursor/02.cur), url(/cursor/cur902.gif), default;
}

img#bears {
    position: absolute;
    margin-top: -130px;
    margin-left: 170px;
    display: none;
}

img#cloud {
    position: absolute;
    scale: 205%;
    margin-left: 195px;
    margin-top: -100px;
    transform: rotate(5deg);
    display: none;
}

img#sanrio {
    width: 150px;
    margin-top: 0px;
    margin-left: 2px;
    border: 1px solid #9da9fa;
    box-shadow: 2px 2px #7386FF;
   
}

img#sanrio:hover {
    border: 1px solid #96fbb3;
}


.music {
    width: 150px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 5%;
    margin-bottom: 0%;
    text-align: center;  
    background-color: rgba(223, 253, 116, 0.6);
    background-image: url(/gifs/wavelength.gif);
    background-size: cover;
    border-radius: 10px;
    box-shadow: 2px 2px #8998ff,
                inset 0 0 6px #fa85a6;
    border: 1px solid #f1caf6;
    padding: 1px;
}

.music:hover {
    background-color: rgba(253, 177, 177, 0.6);
}

img#musicfairy {
    position: absolute;
    scale: 200%;
    margin-left: -30px;
    margin-top: -5px;
}

a.tracklist {
    color: #a3aef7;
    text-shadow: 1px 1px 1px #f7adff;
    text-decoration: underline wavy;
    text-decoration-color: #faffb3;
    padding: 8px;
    padding-bottom: 0%;
    font-family: "2Credits";
    font-size: larger;
}

a.tracklist:active {
    position: relative;
    top: 2px;
}

span#tosee{
    font-weight: bold;
    font-style: italic;
    font-size: 12px;
    font-variant: small-caps;
    border-radius: 30px;
    margin: 0%;
    padding: -5px 10px 0px 10px;
    display: inline-block;
    color: #7f74fd;
}


.quaver{
    
    position: absolute;
    margin-top: -20px;
    margin-bottom: 60px;
    margin-left: -40px;
}

/* MAIN MIDDLE AREA */



#main {
    position: sticky;
    width: 600px;
    margin: 0px 30px 0px 30px;
}

#main_iframe {
    width: 100%;
    border: none;
    overflow: none;
    margin-bottom: 0%;
}


.footer {
    width: 618px;
    height: auto;
    margin: auto;
    margin-top: 10px;
    box-shadow: inset -1px -1px #523cdf,
    inset 1px 1px #dfdfdf, inset -1px -1px #f16eff,
    inset 1px 1px #ffffff;
  border: 1px solid #7386FF;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 500px;
    border-bottom-right-radius: 500px;
    background-image: url(/backgrounds/pastelsbig.jpg);
    background-size: cover;
    background-position: -1000px 200px;
    text-align: center;
    
    
}



.footer h1{
    font-family: "2Credits";
    font-size: medium;
    line-height: 0%;
    color: #f5c8fa;
    text-shadow: 1px 1px #415fc0;

}

.footer h1:hover {
    color: #faffb3;
    text-shadow: 1px 1px #f16eff;
}

.footer p{
    font-size: x-small;
}

.footer img#copyright {
    margin-right: 5px;
}

#right {
    width: 160px;
    height: auto;
}

#right img#ad {
    margin-top: 5%;
    margin-bottom: 5%;
    border: 1px solid #000000;
}

.statscene p {
    font-weight: 900;
    color: #f49dfc;
    font-size: 12px;
    font-variant: small-caps;
    display: inline-block;
    margin: 0%;
    position: absolute;

}

#right script {
    z-index: 10000;
}



.visits {
    
    width: 100%;
    margin: auto;
    margin-top: 50px;
}

.visits p {
    margin-top: -10px;
    margin-left: 50px;
    background: #faffb3;
    padding: 1px;
    padding-top: 0%;
    padding-left: 2px;
    border: 2px solid #c5cbf6;
    box-shadow: 2px 2px #909df3;
}

img#statflower {
    position: absolute;
    margin-left: 70px;
    margin-top: -15px;
}



.online {
    width: 70%;
    margin: auto;
    height: 25%;
    margin-top: 30px;
}



.online p {
    margin-left: 17px;
    margin-top: 0px;
    background: #faffb3;
    padding: 1px;
    padding-top: 0%;
    padding-left: 2px;
    border: 2px solid #c5cbf6;
    box-shadow: 2px 2px #909df3;
}



a#chat {
    font-family: "2Credits";
    font-weight: bolder;
    font-size: 12px;
    letter-spacing: normal;
    color: #f7adff;
    text-shadow: 2px 1px 1px #3243db;
    border: 1px dotted #96fbb3;
    background-color: #4e5bd0;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0px 3px #e15ea2;
}

a#chat:hover {
    color: #e2e6a4;
    background-color: #3243db;
}


.badgeLink {
    display: block;
    cursor: url(/cursor/06b.cur), url(/cursor/cur905.gif), default;
    overflow-y: scroll;
    overflow-x: hidden;
    float: right;
    line-height: 10px;
    background-color: #91d6c4;
    color: #685aff;
    text-shadow: 0px 1px #faffb3;
    height: 45px;
    width: 120px;
    border: 1px #8c6759 solid;

}

.badgeLink code{
    font-family: "W95FA";
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    line-height: 12px;
}

.stats {
    width: 160px;
    height: 280px;
    box-shadow: 3px 5px #bb94ac, inset 0px -8px 10px #7c7caa;
    border: 13px groove #dfbafe;
    border-radius: 44% 44% 5px 5px;
    background-image: url(/backgrounds/purpleblocks.gif);
    background-size: 73%;
    background-position: 90px;
    position: relative;
    float: right;
    margin-top: -40px;
    margin-bottom: 10px;
    
    padding: 10px;
}

.statscene {
    background-image: url(/images/75673.png);
    border: 3px groove #d1c6f6;
    background-size: cover;
    background-position: 50%;
    height: 190px;
    margin-top: 30px;
}



img#stats {
    display: block;
    position: absolute;
    width: 130%;
    margin-left: -40px;
    margin-top: -55px;
}

img#stats:hover {
    scale: 110%;
}

img#fairystats {
    position: absolute;
    scale: 150%;
    margin-left: 130px;
    margin-top: -5px;
}

img#fairystats:hover {
    scale: 180%;
    cursor: url(/cursor/02.cur), url(/cursor/cur902.gif), default;
}

img#fairyquote2 {
    position: absolute;
    margin-left: 168px;
    margin-top: -50px;
    display: none;
}

.stats hr {
    border: 1px dotted;
    color: #7386FF;
    margin: 0%;
}

.stats img#bunny {
    margin-top: -7px;
    margin-bottom: -20px;
}

.stats img#chatbutton:active {
    position: relative;
    top: 1px;
}

.badges {
    display: block;
    background-image: url(/gifs/skyscreen.gif);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 150px;
    height: 140px;
    padding: 5px;
    padding-top: 25px;
    margin-left: 5%;
    margin-top: 1%;
   text-align: center;
}

img#badgesfairy {
    position: absolute;
    scale: 200%;
    margin-left: 110px;
}
img#badgecover {
    position: absolute;
    margin-left: -18px;
    margin-top: -11px;
    width: 123px;
    height: 90px;
}
img#badgecover:hover {
    cursor: url(/cursor/02.cur), url(/cursor/cur902.gif), default;
    border: 3px solid #f16eff;
}

img#candle {
    position: absolute;
    margin-top: -460px;
    margin-left: 120px;
}

/* MUSIC PLAYER */

.title-bar {
    background-image: url(/backgrounds/98sky.gif);
    background-position: 90%;
}

.player {
    cursor: url('https://cur.cursors-4u.net/cursors/cur-10/cur918.cur'), url(/cursor/01.cur), default;
    width: 150px;
    border: #242424 solid 1px;
    border-width: 1px 0px 0px 1px;
    margin-left: 8px;
}

i.fas:hover {
    cursor: url('/cursor/cur905.gif') text;
}

i.fas.fa-pause, i.fas.fa-play, i.fas.fa-forward, i.fas.fa-backward{
    color:#f7adff; /* color of controls */
    text-shadow: 0px -1px #f8f8a9;
}    

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    background: transparent;
  }
   
  input[type="range"]:focus {
    outline: none;
  }
   
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background: url(/icons/minispin.gif);
    background-size: cover;
    transform: translateY(-8px);
    box-shadow: none;
    border: none;
  }
   
  input[type="range"].has-box-indicator::-webkit-slider-thumb {
    background: svg-load("https://raw.githubusercontent.com/jdan/98.css/main/icon/indicator-rectangle-horizontal.svg");
    transform: translateY(-10px);
  }
   
  input[type="range"]::-moz-range-thumb {
    height: 21px;
    width: 11px;
    border: 0;
    border-radius: 0;
    background: svg-load("https://raw.githubusercontent.com/jdan/98.css/main/icon/indicator-horizontal.svg");
    transform: translateY(2px);
  }
   
  input[type="range"]::-moz-range-thumb {
    background: url("https://raw.githubusercontent.com/jdan/98.css/main/icon/indicator-horizontal.svg");
    border: 0;
    border-radius: 0;
    height: 21px;
    transform: translateY(2px);
    width: 11px;
    }
   
  input[type="range"].has-box-indicator::-moz-range-thumb {
    background: svg-load("https://raw.githubusercontent.com/jdan/98.css/main/icon/indicator-rectangle-horizontal.svg");
    transform: translateY(0px);
  }
   
  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    box-sizing: border-box;
    background: #543223 ;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    box-shadow: 1px 0 0 white, 1px 1px 0 white, 0 1px 0 white, -1px 0 0 darkgrey,
      -1px -1px 0 darkgrey, 0 -1px 0 darkgrey, -1px 1px 0 white, 1px -1px darkgrey;
  }
   
  input[type="range"]::-moz-range-track {
    width: 100%;
    height: 2px;
    box-sizing: border-box;
    background: #242424;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    box-shadow: 1px 0 0 white, 1px 1px 0 white, 0 1px 0 white, -1px 0 0 darkgrey,
      -1px -1px 0 darkgrey, 0 -1px 0 darkgrey, -1px 1px 0 white, 1px -1px darkgrey;
  }
   
  button,input,label,option,select,table,textarea,ul.tree-view   {-webkit-font-smoothing:none;font-family:"Pixelated MS Sans Serif",Arial;font-size:11px}h1{font-size:5rem}h2{font-size:2.5rem}h3{font-size:2rem}h4{font-size:1.5rem}u{border-bottom:.5px solid #222;text-decoration:none}button,input[type=reset],input[type=submit]{border:none;border-radius:0;box-sizing:border-box;color:transparent;min-height:23px;min-width:75px;padding:0 12px;text-shadow:0 0 #222}.vertical-bar,button,input[type=reset],input[type=submit]{background:#ab9889;box-shadow:inset -1px -1px #0a0a0a,inset 1px 1px #fff,inset -2px -2px grey,inset 2px 2px #dfdfdf}.vertical-bar{height:20px;width:4px}button:not(:disabled):active,input[type=reset]:not(:disabled):active,input[type=submit]:not(:disabled):active{box-shadow:inset -1px -1px #fff,inset 1px 1px #0a0a0a,inset -2px -2px #dfdfdf,inset 2px 2px grey;text-shadow:1px 1px #222}@media (not(hover)){button:not(:disabled):hover,input[type=reset]:not(:disabled):hover,input[type=submit]:not(:disabled):hover{box-shadow:inset -1px -1px #fff,inset 1px 1px #0a0a0a,inset -2px -2px #dfdfdf,inset 2px 2px grey}}button:focus,input[type=reset]:focus,input[type=submit]:focus{outline:1px dotted #000;outline-offset:-4px}button::-moz-focus-inner,input[type=reset]::-moz-focus-inner,input[type=submit]::-moz-focus-inner{border:0}:disabled,:disabled+label,input[readonly],input[readonly]+label{color:grey}:disabled+label,button:disabled,input[type=reset]:disabled,input[type=submit]:disabled{text-shadow:1px 1px 0 #fff}
   
  .title-bar-controls button {border:none;border-radius:0;box-sizing:border-box;color:transparent;min-height:23px;min-width:75px;padding:0 12px;text-shadow:0 0 #222}
   
  .title-bar-controls button {background:#ab9889;box-shadow:inset -1px -1px #0a0a0a,inset 1px 1px #fff,inset -2px -2px grey,inset 2px 2px #dfdfdf}
   
  .title-bar-controls button:not(:disabled):active {box-shadow:inset -1px -1px #fff,inset 1px 1px #0a0a0a,inset -2px -2px #dfdfdf,inset 2px 2px grey;text-shadow:1px 1px #222}
   
  @media (not(hover)){
      button:not(:disabled):hover {
      box-shadow:inset -1px -1px #fff,inset 1px 1px #0a0a0a,inset -2px -2px #dfdfdf,inset 2px 2px grey}
  }
   
  .title-bar-controls button:focus {outline:1px dotted #000; outline-offset:-4px}
  .title-bar-controls button::-moz-focus-inner {border:0}
   
   

  
   
  .window, .title-bar {
    font-family: "W95FA";
    -webkit-font-smoothing: none;
    font-size: 13px;
  }
   
  .window {
    box-shadow: inset -1px -1px #242424,
      inset 1px 1px #dfdfdf, inset -2px -2px #808080,
      inset 2px 2px #ffffff;
    background: #ab9889;
    padding: 3px;
    width:150px;
  }
   
  .title-bar {
    padding: 3px 2px 3px 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
   
  .title-bar-text {
    font-family: "W95FA";
    font-weight: 600;
    font-size: 10px;
    color: #4f95ff;
    
    letter-spacing: 1px;
    margin-right: 24px;
  }
   
  .title-bar-controls {
    display: flex;
  }
   
  .title-bar-controls button {
    padding: 0;
    display: block;
    min-width: 16px;
    min-height: 14px;
  }
   
  .title-bar-controls button:active {
    padding: 0;
  }
   
  .title-bar-controls button:focus {
    outline: none;
  }
   
  .title-bar-controls button[aria-label=Minimize]{
  background-image:url("https://raw.githubusercontent.com/jdan/98.css/main/icon/minimize.svg");
  background-position:bottom 3px left 4px;
  background-repeat:no-repeat}
   
  .title-bar-controls button[aria-label=Maximize]{
  background-image:url("https://raw.githubusercontent.com/jdan/98.css/4a2282dd9170cabf730fb5803d1153d86b2e94e3/icon/maximize.svg");
  background-position:top 2px left 3px;
  background-repeat:no-repeat}
   
  .title-bar-controls button[aria-label=Close]{
  background-image:url("https://raw.githubusercontent.com/jdan/98.css/main/icon/close.svg");
  background-position:top 3px left 4px;
  background-repeat:no-repeat;
  margin-left:2px}
   
  .window-body { margin:0px; height:98px; }
   
  input[type=range] {
          -webkit-appearance: none;
          appearance:none;
          width: 100%;
      }
   
      input[type=range]:focus {
          outline: none;
      }
   
      /* settings for chrome browsers */
      input[type=range]::-webkit-slider-runnable-track {
          width: 100%;
          height: 2px; /* thickness of seeking track */
          cursor: url('/cursor/cur902.gif');
      }
   
   
      /* settings for firefox browsers */
      input[type=range]::-moz-range-track {
          width: 100%;
          height: 2px; /* thickness of seeking track */
          cursor: url('/cursor/cur902.gif');
      }
   
      .flex {display: flex;}
   
      .titlebaricon { height:14px; width:14px;}
   
   
      .songtitlewindow {
          background-color:#faffb3;
          box-shadow:inset -1px -1px #fff,inset 1px 1px grey,inset -2px -2px #dfdfdf,inset 2px 2px #0a0a0a;
          color: #6cb9fc;
          padding: 0px 2px 0px 2px;
          text-shadow: 0px 1px #55f5b0;
      }
   
      #musicplayer {
          border:2px solid #ab9889; /* border around player */
          border-width: 2px 0px 0px 0px;
          width:144px; /* width of the player */
      }
   
      #imagestyle {
          background:#ab9889; /* background color of player */
          border:2px solid #ab9889; /* border around player */
          width:85px; /* width of the player */
          height:85px;
          box-shadow:inset -1px -1px #fff,inset 1px 1px grey,inset -2px -2px #dfdfdf,inset 2px 2px #0a0a0a;
      }
   
      .ic {
          width:90px;
          position:relative;
          bottom:1px;
          right:1px;
          overflow:hidden;
          padding:2px;
          border:2px solid transparent;
      }
   
      .songtitlearrow {
          background-size:100%;
          background-repeat:no-repeat;
          background-image:url(https://files.catbox.moe/f5e8np.png);
          height:21px;
          width:21px;
          position:relative;
          top:2px;
          left:-2px;
          border:0px solid transparent;
          border-width:0px 0px 0px 0px;
      }
   
      .songtitle {
          padding:5px; /* padding around song title */
          border-bottom:0px; /* border under song title */
          display:block;
          font-family: "2Credits";
      }
   
      .controls {
          font-size:18px !important; /* size of controls */
          text-align:center;
          width:100%;
          position:relative;
          bottom:10px;
      }
   
      .controls td {
          padding:8px 3px 0px 3px; /* padding around controls */
      }
   
      button {
          min-width:40px;
      }
   
      .seeking {
          background-color:#ab9889; /* background color of seeking bar */
          color: #543223;
          display:flex;
          justify-content: space-evenly;
          padding:14px; /* padding around seeking bar */
      }

      input.seek_slider {
        color: #253770;
      }
   
      .current-time {
          padding-right:5px;
      }
   
      .total-duration {
          padding-left:5px;
      }


machine {
    background-image: url();
}

bannerribbon {
    position: absolute;
    background-image: url(/gifs/bannerribbon.gif);
    width: 600px;
    height: 30px;
    background-size: contain;
    margin-bottom: 10px;
    margin-left: 50px;
}

marquee#bannerribbon {
    display: block;
    color: #fff;
    text-shadow: 1px 1px #f16eff;
    margin-left: 33px;
    margin-right: 33px;
    padding-top: 6px;
}




