

html {
    -webkit-font-smoothing: never;
}

body {
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffc6ff;
    font-family: 'MS Gothic', 'MS UI Gothic', 'sans-serif';    
  }



/* Dotted border */
hr.dotted {
    border-top: 3px dotted #bbb;
  }

.button {
  width: 88px;
  height: 31px;
  /* height: auto; */
  image-rendering: pixelated; /* most important part!!!!!!! */
}

.fit-picture{
  display: block;
  width: 95%;
  margin: 1em;
}

.fit-video{
  display: block;
  width: 95%;
  margin: 1em;
}